<?php

/**
 * Users Controller
 * 
 * acount activatation  admin template
 * 
 * 
 * @created    21/04/2015
 * @package    ANPR
 * @copyright  Copyright 2015
 * @license    Proprietary
 * @author     hardeep
 */
?>

<?php
    echo "Hi Admin !<br/><br/>'" . $username . "' has been activated account succesfully ."; 
?>
<br>
<br>
<?php echo $content['footer']; ?>