/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2015, 12:08:48 PM
    Author     : tech
*/

.td-center {
    text-align: center;
    vertical-align: middle;
}

.td-label  span.label{
    display: inline-block;
    /*line-height: 20px;*/
}

.summary-action{
    
}

.summary-action-icon{
    height : 22px; width : auto;
}

.summary-action-delete-link, .confirm-action-link{
    display: none;
}


.space-10{
    padding: 5px;
}


.summary-active{
    background-image: url("./status_1.png");    
    background-size: 22px 22px;
    height : 22px;
    width : 22px;
    display: inline-block;
}

.summary-in-active{
    background-image: url("./status_0.png");
    background-size: 22px 22px; 
    height : 22px;
    width : 22px;
    display: inline-block;
}

.nested-table {}

.nested-table .row-table-childs {
    margin-top: 3px;
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
}

.nested-table .child-table-open
{
    background: url("datatable-row-openclose.png") no-repeat 0 -23px; 
    cursor: pointer;
}
.nested-table .child-table-close
{
    background: url("datatable-row-openclose.png") no-repeat 0 0;
    cursor: pointer;
}


/***------------ ajax loader --------------- */

#ajax-loader, #ajax-loader-faliure
{
    width : 100%; 
    
}
#ajax-loader{
    display: none;
}

#ajax-loader-faliure{
    display: none;
}

#ajax-loader  .ajax-loader-content{
    background-color: #C5EFB3;
    border: 1px solid #58a039;    
}

#ajax-loader-faliure  .ajax-loader-content{
    background-color: #F79896;
    border: 1px solid #D11814;    
}

@media only screen and (max-width : 1000px)
{
    .ajax-loader-content 
    {
        display: block;
        width : 100%;
        margin : auto;        
        padding : 8px 25px;
        text-align: center;     
    }
}

@media only screen and (min-width : 1001px)
{
    .ajax-loader-content 
    {
        display: block;
        width : 200px;
        margin : auto;        
        padding : 8px 25px;        
        text-align: center;     
    }
}

.td-border-blue-madison
{
    border-bottom: 2px solid #578EBE !important;
}

.tr-border-blue-madison td
{
    border-bottom: 3px solid #578EBE !important;       
}

/*------------- Form ---------------------- */

.radio-btn-list input{
    margin-left: 5px;
}

.radio-btn-list label{
    display: inline-block !important;
    padding-top: 0px !important;
    margin-bottom: 0;   
    margin-right: 5px;    
}

.radio-btn-list span{
    font-size: 14px;
}

.radio-btn-list span.required
{
    color : #D11814;
}
.radio-btn-list .radio
{
    padding-top : 2px !important;
}

.required{
    color: #D11814;
}

.my-select {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;    
    height: 25px;    
    padding: 2px;
    width: 100%;
}

.my-text{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;    
    height: 25px;    
    padding: 2px;
    width: 100%;
}

.my-text[disabled], .my-text[readonly] {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.hidden{
    display: none;
}

.my-checkbox .radio, .checkbox, .checker
{
    margin-top : 0 !important;
}

.form-checkbox .checker{
   margin-top: 10px !important;   
}

.loading-panel{
    font-size: 12px;
}

.dashboard-stat:hover{
    text-decoration: none;
}

/*------------- google map --------------- */
.map-canvas{
    height : 400px;
}

.map-marker-window{
    
}

.margin-5 {margin :5px;}


/***----------------- side bar -------------------*/

.sidebar-active
{
    background-color: #5E707F !important;
}

/*---------------------- Login --------------------- */

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;     
}


/**-----------------------others ------------------------*/

.font-size-24{
    font-size: 24px !important;
}

.font-size-16{
    font-size: 16px;
}

.font-size-14{
    font-size: 14px;
}   

.custom-label{
    display: inline-block;
    padding : 4px 7px;    
}


/*---------------------- chart ----------------------------*/
.am-chart a{
    display: none !important;
}

/*---------------- header ------------------------*/

.wallet-img{
    width : 24px; height: auto;
}


.round-10{
    border-radius: 10px !important;
}

.highlighted{
    font-size: 15px;    
    padding : 8px 0;
    display: block;    
}

.highlighted-2{
    font-size: 14px;        
    display: block;    
}


ul.manufacture{
    list-style:decimal;
}

ul.model{
    list-style: upper-roman;
}

ul.varient{
    list-style: lower-alpha;
}

ul.manufacture > li > span{
    font-weight: bold;
    color: #2977F7;
}

ul.model > li > span{
    font-weight: bold;
    color : #2D8F3C;
}

ul.varient > li > span {
    font-weight: normal;
    color: #3F75A2;
}

.blue-bold{
    color : #447DAD;
    font-weight: bold;
}


.tool-link{
    width : 30px; height : auto;
}

.note-color
{
    color :#1F9296;
    font-weight: bold;
}