/* CSS Document */

.one_search{

	margin-top:-6px;

	padding-top:0px!important;

}



.three_search{

	margin-top:17px;

}

.head td a{

	color:#ffffff!important;

}

.pagination ul li ul li {

	color: #333333;

    display: block;

    font-size: 12px;

    height: 18px;

    padding-top: 2px;

    text-align: center;

    width: 21px;

}

.pagination .current{

	background: url(../img/pagination_hover.png) no-repeat;

	color: #fff!important;

	text-align:center;

	margin-top:2px!important;

}



.flashMessage {

	color: #666666;

    display: inline;

    float: left;

    font-size: 12px;

    font-weight: normal;

    padding-top: 7px;

}

#weekly_off_day2{

	display:none;

}



/*#emp_local_address,#emp_hongkong_id,#emp_passport_no{

	display:none;

}*/

.three_column ul {

	width:100%!important;

}

.leftbar-active-item{

	background: none repeat scroll 0 0 #785d44 !important;

    color: #F0F0F0 !important;

}

.textarea{

	text-align:left!important;
        width: 378px;
}



textarea:focus,

input[type="text"]:focus,

input[type="password"]:focus,

input[type="datetime"]:focus,

input[type="datetime-local"]:focus,

input[type="date"]:focus,

input[type="month"]:focus,

input[type="time"]:focus,

input[type="week"]:focus,

input[type="number"]:focus,

input[type="email"]:focus,

input[type="url"]:focus,

input[type="search"]:focus,

input[type="tel"]:focus,

input[type="color"]:focus,

.uneditable-input:focus {

  border-color: rgba(82, 168, 236, 0.8);

  outline: 0;

  outline: thin dotted \9;

  /* IE6-9 */



  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

}



.error-message{

	color:#F90000;

	font-size: 12px;

    font-weight: normal;

}

.active_tab{

	background: none repeat scroll 0 0 #000000!important;

    color: #FFFFFF!important;

}

.employee_details{

	width:200px!important;

	float:left!important;

}

.employee_details2{

	width:200px!important;

	float:left!important;

}

.text_field_other {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 28px;
    outline: medium none;
	width:45px;
    
}

.select_other {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 28px;
    outline: medium none;
	width:90px;
    
}
.center{
	text-align:center;
}

.span_info{
	color: #666666;
    display: inline;
    font-size: 10px;
    font-weight: normal;
}
.display {
    width: 60px;
}
.red-color {
	color: #f47920;
}
