#lightbox {
    display:none;
    background:#000000;
    opacity:0.8;
    filter:alpha(opacity=90);
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:4;
}
#lightbox-panel {
    display:none;
    position:fixed;
    top:10%;
    left:40%;
    margin-left:-200px;
    width:50%;
    height:400px;
    background:#FFFFFF;
    padding:5px;
    border:2px solid #CCCCCC;
    z-index:1001;
}
#lightbox-panel img.preview{
    height:100%;
    width:100%;
}

.show, .close, .deleteImage{
    cursor:pointer;
}

p.closeSection{
    width:100%;
    text-align:right;
    position:absolute;
    z-index:5;
}
img.close{
    height:20px;
    width:20px;
    margin-top:0px;
    margin-right:10px;
    z-index:5;
}
.delete, .magnifier{
	cursor:pointer;
}