@charset "utf-8";

/* CSS Document */

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {

	margin: 0;

	padding: 0;

	border: 0;

	outline: 0;

}

html, html a {

	font-size: 100%;

	-webkit-text-size-adjust: 100%;

	-ms-text-size-adjust: 100%;

	-webkit-font-smoothing: antialiased;

}

audio, canvas, video {

	display: inline-block;

*display: inline;

*zoom: 1;

}

input, textarea, select {

	padding: 0;

}

br {

	line-height: 0px;

}

ol, ul, li {

	list-style: none;

}

a:focus, input:focus, button:focus {

	outline: 0;

}

sub, sup {

	font-size: 75%;

	line-height: 0;

	position: relative;

	vertical-align: baseline;

}

sup {

	top: -0.5em;

}

sub {

	bottom: -0.25em;

}

img {

	border: none;

	margin: 0;

	padding: 0;

}

.strong {

	font-weight: bold;

}

button, input, select, textarea {

	font-size: 100%;

	margin: 0;

	vertical-align: baseline;

*vertical-align: middle;

}

button, input {

	line-height: normal;

}

button, input[type="button"], input[type="reset"], input[type="submit"] {

	cursor: pointer;

	-webkit-appearance: button;

*overflow: visible;

}

input[type="checkbox"], input[type="radio"] {

	box-sizing: border-box;

	padding: 0;

}

input[type="search"] {

	-webkit-appearance: textfield;

	-moz-box-sizing: content-box;

	-webkit-box-sizing: content-box;

	box-sizing: content-box;

}

 input[type="search"]::-webkit-search-decoration {

-webkit-appearance: none;

}

 button::-moz-focus-inner, input::-moz-focus-inner {

border: 0;

padding: 0;

}

table {

	border-collapse: collapse;

	border-spacing: 0;

}

a {

	text-decoration: none;

	color: #444647;

}

a:hover {

	text-decoration: none;

}

* {

	outline: none;

}

.clearfix:after {

	visibility: hidden;

	display: block;

	font-size: 0;

	content: " ";

	clear: both;

	height: 0;

}

* html .clearfix {

	zoom: 1;

} /* IE6 */

*:first-child+html .clearfix {

	zoom: 1;

} /* IE7 */

.clear {

	clear: both;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, progress {

	display: block;

	padding: 0;

	margin: 0;

}

body {

	background: url(../img/new_body_bg.jpg);

	font-size: 12px;

	font-weight: normal;

	color: #000;

	font-family: Arial, Helvetica, sans-serif;

}

header {

	width: 100%;

	height: 44px;

	background: #392716;

	border-bottom: 4px #FFFFFF solid;

}

.main_warp {

	width: 1024px;

	height: auto;

	margin: 0px auto;

}

.logo {

	width: auto;

	height: auto;

	float: left;

	font-size: 24px;

	font-weight: normal;

	color: #fff;	

	padding-top: 8px;

}

.top_nav {

	width: 450px;

	height: auto;

	float: left;

}

ul.menu {

	width: auto;

	height: auto;

}

ul.menu li {

	float: left;

	display: inline;

}

ul.menu li a {

	display: block;

	padding-left: 11px;

	padding-right: 11px;

	font-size: 12px;

	font-weight: normal;

	color: #ffffff;

	padding-top: 14px;

	padding-bottom: 14px;

}

ul.menu li a:hover {

	background: #615041;

}

.welcome_panel {

	width: auto;

	height: auto;

	float: right;

}

.welcome_panel a {

	display: block;

	height: 30px;

	padding-top: 14px;

}

.welcome_panel a img {

	float: left;

	width: 19px;

	height: 19px;

	margin-right: 6px;

}

.welcome_panel a span {

	display: block;

	float: left;

	background: url(../img/down_arrow.png) no-repeat right top;

	font-size: 12px;

	font-weight: normal;

	color: #fff;

	padding-right: 16px;

}

.account_link {

	clear: left;

	float: left;

	position: absolute;

	z-index: 200;

	background: #392716;

	display: none;

	width: 140px;

}

.account_link ul {

	width: 140px;

	height: auto;

	clear: left;

	float: left;

}

.account_link ul li {

	clear: left;

	float: left;

	border-top: 1px #FFFFFF dashed;

}

.account_link ul li:first-child {

	border-top: none;

}

.account_link ul li a {

	width: 130px;

	display: block;

	height: auto;

	padding-top: 10px;

	padding-bottom: 10px;

	font-size: 12px;

	font-weight: normal;

	color: #fff;

	padding-left: 10px;

}



.account_link ul li a:hover{

	color: #fff;

	background: #615041;

}



.body_warp {

	width: 100%;

	height: auto;

	padding-top: 14px;

}

.login_warp {

	position: fixed;

	top: 50%;

	left: 50%;

	margin-top: -130px;

	margin-left: -250px;

	background: #fff;

	width: 470px;

	height: 250px;

	border: 1px #cccccc solid;

	padding: 15px;

}

.login_warp h1 {

	width: auto;

	height: auto;

	font-size: 14px;

	font-weight: bold;

	color: #333333;

	margin-bottom: 25px;

	padding-top: 10px;

}

.login_form {

	width: 470px;

	height: 180px;

	background: #765d45;

	padding-top: 20px;

}

.login_form dl {

	width: auto;

	height: auto;

	clear: left;

	float: left;

	padding-bottom: 20px;

}

.login_form dl.text {

	padding-bottom: 10px;

}

.login_form dl dt {

	width: 120px;

	height: auto;

	float: left;

	font-size: 12px;

	font-weight: bold;

	color: #fff;

	margin-left: 25px;

	padding-top: 9px;

}

.login_form dl dd {

	width: 300px;

	height: auto;

	float: left;

}

.login_field {

	width: 288px;

	height: 30px;

	background: #fff;

	border: 1px #cccccc solid;

	outline: none;

	padding-left: 5px;

	padding-right: 5px;

	font-size: 12px;

	font-weight: normal;

	color: #333;

	line-height: 30px; /* FOR IE 8 */

}

.login_bt {

	clear: right;

	float: right;

	margin-right: 25px;

}

/*Footer css start*/

.footer_main {

	width: 1024px;

	height: auto;

	clear: left;

	float: left;

	border-top: 1px #676767 solid;

	padding-top: 6px;

	padding-bottom: 6px;

}

.footer_main h1 {

	float: left;

	width: 260px;

	height: 38px;

	font-size: 12px;

	font-weight: normal;

	color: #676767;

	text-align: right;

	padding-right: 46px;

}

.footer_main h2 {

	float: right;

	

	

}



.footer_main h2  a { display:block; width: 114px;

	height: 38px; background: url(../img/insphere_logo.jpg) no-repeat top right; font-size: 12px;

	font-weight: normal;

	color: #676767;}



/*Footer css end*/





/*Inner page css start*/

.body_lt {

	width: 200px;

	height: auto;

	float: left;

	overflow: hidden;

	padding-bottom: 20px;

}

.body_rt {

	width: 800px;

	height: auto;

	float: right;

	padding-bottom: 14px;

}

.page_head {

	width: 800px;

	height: 32px;

	clear: left;

	float: left;

}

.page_head h1 {

	width: auto;

	height: auto;

	float: left;

	font-size: 16px;

	font-weight: normal;

	color: #000000;

}

.page_head .back {

	width: 16px;

	height: 14px;

	float: right;

	padding-top: 3px;

}

.bolg_warp {

	width: 786px;

	height: auto;

	background: #FFF;

	clear: left;

	float: left;

	margin-bottom: 15px;

	padding-left: 7px;

	padding-right: 7px;

	padding-top: 12px;

	padding-bottom: 12px;

}

.sub_head {

	width: 786px;

	height: auto;

	clear: left;

	float: left;

	font-size: 14px;

	font-weight: normal;

	color: #000000;

	margin-bottom: 8px;

}

.three_column {

	width: 786px;

	height: auto;

	clear: left;

	float: left;

}

.three_column h1 {

	width: auto;

	height: auto;

	clear: left;

	float: left;

	font-size: 12px;

	font-weight: normal;

	color: #666666;

}

.three_column ul {

	width: 786x;

	height: auto;

	float: left;

	clear: left;

	border-bottom: 1px #e1e1e1 solid;

	padding-top: 12px;

	margin-bottom: 12px;

}

.three_column ul li {

	clear: left;

	float: left;

	margin-bottom: 10px;

}

.three_column ul li h2 {

	width: 180px;

	height: auto;

	float: left;

	font-size: 12px;

	font-weight: normal;

	color: #666666;

	text-align: right;

	padding-right: 6px;

	padding-top: 7px;

}

.three_column ul li h2 span {

	color: #f90000;

}

.three_column ul li h3 {

	width: 380px;

	height: auto;

	float: left;

}

.three_column ul li h4 {

	width: 211px;

	padding-left: 7px;

	font-size: 12px;

	font-weight: normal;

	color: #666666;

	float: left;

	padding-top: 7px;

}

.text_field {

	width: 378px;

	height: 28px;

	background: #FFF;

	border: 1px #cccccc solid;

	outline: none;

}

.short_field {

	width: 182px;

}

.text_area {

	width: 378px;

	height: 68px;

	background: #FFF;

	border: 1px #cccccc solid;

	outline: none;

}

.centerbutton {

	float: left;

	clear: left;

	width: 100%;

	overflow: hidden;

	position: relative;

}

.centerbutton ul {

	clear: left;

	float: left;

	position: relative;

	left: 50%;

	text-align: center;

}

.centerbutton ul li {

	display: block;

	float: left;

	display: inline;

	position: relative;

	right: 50%;

	padding: 4px;

}

.action_bt {

	float: left;

	clear: left;

	width: 100%;

	overflow: hidden;

	position: relative;

}

.action_bt ul {

	clear: left;

	float: left;

	position: relative;

	left: 50%;

	text-align: center;

}

.action_bt ul li {

	display: block;

	float: left;

	display: inline;

	position: relative;

	right: 50%;

	padding-left: 4px;

	padding-right: 4px;

	padding-top: 6px;

}

.summary_search {

	width: 786px;

	height: auto;

	clear: left;

	float: left;

	padding-top: 5px;

}

.search_form {

	width: 584px;

	height: auto;

	float: left;

}

.search_form ul {

	width: auto;

	height: auto;

	margin-bottom: 10px;

	clear: left;

	float: left;

}

.search_form ul li {

	float: right;

	display: inline;

}

.search_form ul li span {

	width: 94px;

	float: left;

	display: inline;

	font-size: 12px;

	font-weight: normal;

	color: #666666;

	text-align: right;

	padding-right: 6px;

	padding-top: 7px;

}

.search_form ul li:first-child {

	float: left;

}

.search_form_bt {

	width: 200px;

	float: right;

	padding-top: 15px;

}

.search_result {

	width: 786px;

	height: auto;

	clear: left;

	float: left;

}

.page_count {

	width: 786px;

	height: auto;

	clear: left;

	float: left;

	font-size: 11px;

	font-weight: normal;

	color: #666666;

	margin-bottom: 8px;

}

table.summary {

	width: 786px;

	height: auto;

	clear: left;

	float: left;

}

table.summary tr {

	border-bottom: 1px #FFFFFF solid;

	background: #eeeeee;

}

table.summary tr.head {

	border-bottom: 2px #FFFFFF solid;

	background: #392716;

}

table.summary tr.grey {

	background: #f6f6f6;

}

table.summary tr.head td {

	color: #fff;

	padding-top: 6px;

	padding-bottom: 6px;

	font-weight: bold;

}

table.summary tr td {

	padding-top: 3px;

	padding-bottom: 3px;

	text-align: center;

	font-size: 11px;

	font-weight: normal;

	color: #333333;

	border-left: 1px #fff solid;

}

table.summary tr td:first-child {

	border: none;

}

.action_area {

	width: 786px;

	height: 35px;

	clear: left;

	float: left;

	background: #e2e1e1;

}

.chose_action {

	width: 220px;

	height: auto;

	float: left;

	padding-top: 5px;

}

.chose_action select {

	width: 140px;

	height: 26px;

	background: #fff;

	border: 1px #cccccc solid;

	float: left;

	margin-left: 8px;

	margin-left: 6px;

	font-size: 11px;

	font-weight: normal;

	color: #666666;

}

.pagination {

	width: auto;

	height: auto;

	float: right;

	margin-right: 10px;

	padding-top: 7px;

}

.pagination ul {

	width: auto;

	height: auto;

}

.pagination ul li {

	float: left;

	display: inline;

	font-size: 12px;

	font-weight: normal;

	color: #333333;

	margin-left: 14px;

	padding-top: 3px;

}

.pagination ul li a {

	color: #333333;

}

.pagination ul li ul {

	margin: 0px;

	padding: 0px;

	margin-top: -2px;

}

.pagination ul li ul li {

	margin: 0px;

	padding: 0px;

	margin-left: 5px;

}

.pagination ul li ul li:first-child {

	margin-left: 0px;

}

.pagination ul li ul li a {

	display: block;

	width: 21px;

	height: 18px;

	text-align: center;

	padding-top: 2px;

	font-size: 12px;

	color: #333333;

}

.pagination ul li ul li a:hover {

	background: url(../img/pagination_hover.png) no-repeat;

	color: #fff;

}



.employe_info {

	width: 786px;

	height: auto;

	clear: left;

	float: left;

}

.employe_info ul {

	width: auto;

	height: auto;

	/*clear: left;*/

	float: left;

}

.employe_info ul li {

	clear: left;

	float: left;

	font-size: 11px;

	font-weight: normal;

	color: #666666;

	margin-bottom: 7px;

}

.employe_info ul li span {

	color: #999999;

}

ul.form_tab {

	width: 786px;

	clear: left;

	float: left;

	margin-bottom: 14px;

}

ul.form_tab li {

	float: left;

	display: inline;

	margin-right: 2px;

}

ul.form_tab li a {

	display: block;

	padding-left: 10px;

	padding-right: 10px;

	padding-top: 5px;

	padding-bottom: 5px;

	font-size: 11px;

	font-weight: normal;

	color: #000000;

	background: #cccccc;

}

ul.form_tab li a:hover {

	background: #000000;

	color: #fff;

}


/*Error page css */

.error_main {
    clear: left;
    float: left;
    height: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    width: 1024px;
}
.error_main h1 {
    color: #000000;
    font-family: 'open_sansregular';
    font-size: 20px;
    font-weight: normal;
    height: auto;
    line-height: 33px;
    margin-bottom: 15px;
    text-align: center;
    width: 1024px;
}
.back_home {
    height: 40px;
    margin: auto;
    text-align: center;
    width: 300px;
}

.back_home a {
    background: none repeat scroll 0 0 #392716;
    color: #ffffff;
    display: block;
    font-family: 'open_sansregular';
    font-size: 20px;
    font-weight: normal;
    height: 33px;
    padding-top: 7px;
    text-align: center;
    width: 300px;
    
}
.back_home a:hover {
    color: #FFFFFF;
}