@charset "utf-8";
/* CSS Document */

@charset "utf-8";
body {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 20px 0 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
img {
    border: medium none;
}
img a {
    border: medium none;
}
div {
    margin: 0;
    padding: 0;
    width: auto;
}
.main {
    margin: 0 auto;
    width: 1000px;
}
.farmer {
    float: left;
    width: 1000px;
}
.farmer-hd1 {
    color: #003300;
    font-size: 24px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 15px;
    text-align: center;
    width: auto;
}
.farmer-hd2 {
    color: #666666;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
}
.farmer-hd3 {
    color: #003300;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 3px;
}
.farmer-report1 {
    height: auto;
    margin-bottom: 60px;
    width: 1000px;
}
.farmer-report1 table {
    background: none repeat scroll 0 0 #EEEEEE;
}
.farmer-report1 td {
    border: 1px solid #FFFFFF;
    font-size: 12px;
    padding: 0 2px;
}
.farmer-repret1-hd {
    background: none repeat scroll 0 0 #392716;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.farmer-text {
    color: #070F00;
    line-height: 24px;
    text-align: center;
}
.icon {
    margin-left: 5px;
}
.RightAlignedForNumber {
    padding-right: 5px !important;
    text-align: right !important;
}
.LeftAlignedForName {
    padding-left: 5px !important;
    text-align: left !important;
}
.number_cols{
	text-align:right;
	padding-right:10px;
}
.font_bold{
	font-weight:bold;		
}