a{
    color: #2C487F;
}

.social-link {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #b2c0ca -moz-use-text-color #b2c0ca #b2c0ca;
    border-image: none;
    border-radius: 5px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    padding: 5px 5px 0 5px;
    position: fixed;
    right: -5px;
    top: 256px;
    z-index: 100;
}
.social-link ul {
    margin: 0;
    padding: 0;
}
.social-link ul li {
    list-style: outside none none;
    margin: 0 0 4px;
    padding: 0;
}

/*** --------- Hardeep --------------- **/
/** -------- change icon background color ------------------ **/

.custom-icon-content 
{
  background-color: #fff !important;
  width : 100% !important;
  border-right: 2px dashed #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.custom-icon-content-services 
{
  background-color: #fff !important;    
  margin-bottom: 10px;
  float: left;
  width : 134px;
  height : 110px;
}

.custom-icon-content-request-demo 
{
  background-color: #fff !important;
  width : 100% !important;  
  padding: 10px;
  margin-bottom: 10px;
}

.icon-cell-block
{
   display: table-cell;
   height : 110px;
   width : 134px;
   text-align: center;
   vertical-align: middle;
}

.icon-cell-block img {
    height : 100%;
}


.icon-gradient:nth-child(1) .icon-content{
    background-color:   #486196 !important;
}

.icon-gradient:nth-child(2) .icon-content{
    background-color:  #5d7ec5 !important;
}

.icon-gradient:nth-child(3) .icon-content{
    background-color:   #98c7f1 !important;
}

.icon-gradient:nth-child(4) .icon-content{
    background-color:  #bdd9a5 !important;
}

.icon-gradient:nth-child(5) .icon-content{
    background-color:   #90b76e !important;
}



/**------------------- top header -----------*/

.top-header{
    background-color: #E8E8EA;
    font-size: 12px;
    padding : 1.15em 0em;
}

.shift-right-block{
    float: right;
    display: inline-block;
}

.shift-left-block{
    float: left;
    display: inline-block;
}

.top-header .social-icons
{
    color : #fff;
    font-weight: bold;
    font-size: 12px;    
    height : 22px;
    width : 22px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #7F7E83;
}

.header-page-icon{
    font-size: 2.9em;
}

.top-header .text-info{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/**-------------- common -----------------------*/


.backcolor-grey{
    background-color: #F3F3F5 ;
}

.backcolor-green{
    background-color: #7DC245;
    color : #fff;
    border-color : #78b844;
}

.backcolor-green:hover{
    background-color: #78b844;    
    color: #ffffff;
}

.color-grey
{
    color : #999A9C !important;
    font-weight: bold;
}

.width-18-per {
    width : 18%;
    float: left;
}


.width-17-per {
    width : 17%;
    float: left;
}

.margin-left-2-per{
    margin-left : 2%;
}

.margin-left-4-per{
    margin-left: 4%;
}

.margin-left-8-per{
    margin-left: 8%;
}

.align-center{
    text-align: center;
}

.required-lbl{
    color : #ff0000;
}