/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2015, 9:27:31 AM
    Author     : tech
*/


.login .logo 
{
    margin: 23px auto 31px !important;
}

.login .content
{
    width: 300px !important;
    margin : auto !important;
}

@media only screen and (max-width : 400px)
{
    .login-inner{
        margin-left: auto;
        margin-right: auto; 
        width : 300px;
    }
    
    .login .content
    {
        width: 300px !important;
        margin : auto !important;
    }
}

@media only screen and (min-width : 401px)
{
    .login-inner{
        margin-left: auto;
        margin-right: auto; 
        width : 400px;
    }
    
   .login .content
    {
        width: 400px !important;
        margin : auto !important;
    }
}