/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2015, 3:16:34 PM
    Author     : tech
*/

.page-logo{
    background : none !important ; 
    width : 245px !important; 
}

.menu-toggler{
    background-image: url("admin/layout2/img/sidebar_toggler_icon_blue.png") !important;
}




.td-checkbox .checker
{
   margin-top: 2px !important;
   vertical-align: middle;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] 
{
    margin-left: -10px !important;
    position: absolute;
}

.table-custom thead td {
    font-size : 13px;
}

.table-custom tbody td {
    font-size : 12px;
}

.table-custom tbody td a{
    font-size : 13px;
}

.table-custom thead td .bold {
    font-weight: bold;    
}


/*** ------------- cakephp ----------------------------- */
.error-message{
    color: #E02222;
    font-size: 12px;
    padding-left: 2px;
}

.flashMessage{
    display: none;
}


/** --------------- Form wizard ------------------------- */

.form-wizard .steps > li.active > a.step .number {
    background-color: #4B8DF8;
    color: #fff;
}

.progress > .progress-bar-success {
    background-color: #4b8df8;
}